network-timeout=300000
child-concurrency=1
fetch-retries=5
fetch-retry-maxtimeout=600000
only-built-dependencies[]=esbuild
only-built-dependencies[]=msw
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=workerd
